html,
body {
  /* Get rid of excess whitespace on page */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main-container {
  display: flex;
  height: 95vh;
  background-color: #fcb9b9;
}

#sidebar {
  border: solid black;
  width: 20%;
}

#entry {
  border: solid black;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.extras-box {
  border: solid black;
}

#factors {
  display: flex;
}

.factor-box {
  margin: 0.5em;
}

#text-area {
  height: 100%;
  width: 100%;
}

#user-link {
  margin: 0 2em;
}

.container-style {
  display: flex;
  flex-direction: column;
  background-color: #ff9999;
  padding: 2%;
  vertical-align: center;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 5%;
}

#belongs-style {
  font-size: 40px;
  margin-bottom: 3%;
}

#home-style {
  font-size: 60px;
  margin-bottom: 4%;
}

.login-style {
  font-size: 25px;
  margin-bottom: 3%;
}

.input {
  margin-top: 4%;
}
